* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 10px;
}

.wrapper {
    display: flex;
}

.sidenav {
    background-color: rgb(31, 36, 40);
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
        &:hover {
            color: #f1f1f1;
        }
    }
}

.up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_element {
        display: flex;
        flex-direction: column;
        color: #787878;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.26rem;
        font-weight: 400;
        margin: 1.5rem;
        text-align: center;
    }
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    &_count {
        position: absolute;
        top: 4px;
        right: 0;
        color: white;
        background-color: #ff0000a1;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        line-height: 18px;
        font-size: 10px;
        text-align: center;
        cursor: pointer;
    }
    &_folder {
        top: -8px;
        right: 8px;
        text-decoration: none;
        position: relative;
        display: inline-block;
        border-radius: 50%;
    }
}

.header {
    background: #f1f1f1;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93vw;
}

.wrapper-header {
    display: flex;
    .svg {
        padding: 1.75rem;
    }
    .arrow-down {
        cursor: pointer;
        margin-top: 0.5rem;
        color: #aacc4e;
    }
}

.button {
    border: 0.1rem solid #cccccc;
    border-radius: 1.7rem;
    font-family: 'Libre Franklin', sans-serif;
    cursor: pointer;
    padding-right: 1.625rem;
    padding-left: 1.625rem;
    margin: 1rem 0.55rem 0.9rem 0.55rem;
    line-height: 5rem;
    font-size: 1.6rem;
    display: flex;
    &:hover {
        background: salmon;
        transition: 0.6s;
    }
}

.folders {
    background: #f1f1f1;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.folders-bar {
    display: flex;
    &_app {
        font-family: 'Libre Franklin', sans-serif;
        text-align: center;
        cursor: pointer;
        border-right: 0.1rem solid #cccccc;
        font-size: 1.7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f8f8f8;
        padding: 2.25rem 3.875rem;
    }
    .clock {
        margin-top: -0.5rem;
    }
    .telegram {
        margin-top: -0.2rem;
    }
}

.search {
    padding: 0.5rem 1rem;
    max-width: 20rem;
    font-size: 1.6rem;
    cursor: text;
    margin: 0.9rem 1.6rem 1rem 0rem;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 1.25rem;
    outline: none;
    display: flex;
}

.second-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.refersh {
    padding: 1.3rem 0.7rem 1rem 1rem;
    cursor: pointer;
}

.container {
    width: 60vw;
    border: 1px solid #dedede;
    background-color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    padding: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem -1rem 0rem -0.5rem;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.percentage {
    background: #ff503f;
    border-radius: 1.2rem;
    text-align: center;
    line-height: 3rem;
    color: #cccccc;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem 0.8rem 0.3rem 0.8rem;
}

.task {
    font-size: 1.7rem;
    font-family: 'Libre Franklin', sans-serif;
    margin: 1rem;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.some-button {
    border: 0.125rem solid #cccccc;
    border-radius: 1.5625rem;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    cursor: pointer;
    line-height: 2.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    &:hover {
        background: salmon;
        transition: 0.6s;
    }
}

.container-opened {
    background-color: #ebebeb;
    display: flex;
}

.percentage-opened {
    background-color: #c5c5c5;
    color: #a0a0a0;
}

.task-opened {
    font-size: 1.7rem;
    margin: 1rem;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.profiles-online {
    display: inline-block;
    vertical-align: middle;
    padding: 0rem 0.625rem 0rem 0.625rem;
}

// .other-profiles-online{
//     font-size: 4.7rem;
//     color: #6d6d6d;
//     text-decoration: none;
// }

.messenge-wrapper {
    width: 26vw;
    border: 0.0325rem solid #dedede;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.time-right {
    color: #999;
    font-size: 1.4rem;
}

.two-colums {
    background: #fff;
    margin-left: 2.1875rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.one-col {
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.two-col {
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-left: 2.1875rem;
    background: #fff;
}

.elements {
    display: flex;
}

.first-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 77rem;
}

.second-scroll {
    overflow-y: scroll;
    height: 81rem;
}

.fa-plus-circle {
    color: #ff503f;
    margin: 1rem;
}

i {
    margin: 0rem 0.5rem 0rem 0.5rem;
    color: rgba(0, 0, 0, 0.35);
    size: 140%;
}

.fa-comments {
    margin: 1.4rem 1rem 0rem -1rem;
}

.fa-chevron-down {
    margin: 1.4rem -1rem 0rem 0.5rem;
}

p {
    width: 15vw;
    font-size: 1.4rem;
}

.wrapper-green-dot {
    background-color: rgba(31, 36, 40, 0);
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    .green-dot {
        position: absolute;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 0.375rem;
        top: 0rem;
        right: 0rem;
        padding: 0.1rem 0.3rem;
        border-radius: 50%;
        background: rgb(69, 236, 28);
        color: rgb(69, 236, 28);
    }
}

@media (max-width: 1080px) {
    .html {
        font-size: 12.65px;
    }
}

@media (max-width: 1440px) {
    .html {
        font-size: 13.58px;
    }
}

@media (max-width: 2560px) {
    .html {
        font-size: 23.085px;
    }
}